body {
    width: 100vw;
    height: 100vh;
    background-color: #2c3e50;
}

.flex-container {
    height: 100vh;
}

.kotak {
    color: white;
    padding: 5vh;
    width: 35vw;
    background-color: #16a085;
    border-radius: 25px;
}

.progress {
    margin-top: 2vh;
}

#gambar {
    margin-top: 2vh;
    height: 40vh;
}

.imgcap {
    border-style: solid;
    margin-top: 2vh;
    padding: 5px;
    background-color: #d35400;
}

@media only screen and (max-width: 480px) {
    .kotak {
        color: white;
        padding: 5vh;
        width: 90vw;
        background-color: #16a085;
        border-radius: 25px;
    }
}